#*.html
slides/*_files/
.Rproj.user/
/.quarto/
*.pptx
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
slides/2023_11_16_efficient_r_cache/
slides/2023_11_16_efficient_r_files/
slides/data/ghg_ems*
